@import "../../vars.scss";

.modal-transp-container {
 height: 100vh;
 @include flex(center, center)
}
.modal-transp {
 width: 500px;
 min-height: 400px;
 transform: none;
}

.content {
 @include flex($justify: space-evenly);
 flex: 1;
 height: 100%;
 padding: 0 20px;
 display: flex;
 flex-direction: column;
}

h3{
 margin-bottom: 0;
}

input{
 padding: 10px;
 border-radius: 2px;
 border: none;
 border-bottom: 1px solid $theme-color-dark;
}

.btn-container{
 width: 380px;
 @include flex($justify: flex-end);
 margin-top: 50px;
 margin-bottom: 0;
}