@import "../../vars.scss";

.modal-transp-container {
 height: 100vh;
 @include flex(center, center)
}
.modal-transp {
 align-self: center;
 width: 80vw;
 min-height: 400px;
 position: relative;
 transform: none;
}

.content {
 height: 100%;
 padding: 0 20px;
 display: flex;
 flex-direction: column;
}

input{
 margin: 20px 0;
 padding: 10px;
 border-radius: 2px;
 border: none;
 border-bottom: 1px solid $theme-color-dark;
}

.btn-container{
 @include flex($justify: flex-end )
}