<div class="modal-transp-container">
 <div class="modal-transp" #modal>
   <div class="content">
     <h3>Reset Password</h3>
     <p class="text-center">Please enter your email address to request a password reset.</p>
     <form (ngSubmit)="authService.resetPassword(passwordResetEmail.value)" #form="ngForm">
       <input type="email" name="email" placeholder="Email Address" [(ngModel)]="email" #passwordResetEmail required>
       <div class="btn-container">
        <button
          class="btn btn-light"
          (click)="$event.stopPropagation(); closeModal()"
        >
          Cancel
        </button>
        <button
          class="btn"
          type="submit"
          [disabled]="!form.valid"
        >
          Save
        </button>
     </div>
     </form>
     <!-- Calling ForgotPassword from AuthService Api -->
   </div>
</div>