<div class="modal-transp-container modal-transp-container-centered">
 <div class="modal-transp modal-transp-centered" #modal>
   <div class="content">
     <h3>You got a verification mail</h3>
     <div class="formGroup" *ngIf="authService.userData as user">
       <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
       <p class="text-center">Please check your emails and click on the link to verfiy your email address and start using Kanban.</p>
     </div>
     
     <!-- Calling SendVerificationMail() method using authService Api -->
     <div class="resend">
       <p>
         You didn't get the verification mail?
       </p>
       <button type="button" class="btn" (click)="authService.sendVerificationMail()">
         Resend Verification Email
       </button>
     </div>
     <a routerLink="/">Go to login <img src="assets/img/angles-right.svg" alt=""></a>
   </div>
 </div>
</div>