@import "../../vars.scss";


.modal-transp-centered{
 width: 600px;
}

.resend{
 margin: 30px 0;
 
 p{
  margin-bottom: 20px;
 }
}

.btn{
 width: unset;
 font-size: 16px;
}

a{
 @include flex($align: center);
 color: $letter-color-dark;

 img{
  width: 20px;
  height: 20px;
  margin-left: 8px;
 }

 &:hover{
  filter: brightness(0%);
 }
}