<div class="prohibited component-container main-background">
  <div class="prohibited-modal">
    <p>Sorry, you don't have access to {{ text }}</p>
    <p>
      <a class="img-link" routerLink="/login"
        >Go to login <img src="assets/img/angles-right.svg" alt=""
      /></a>
      for connecting with your account or
    </p>
    <p>
      <a class="img-link" routerLink="/register"
        >Register <img src="assets/img/angles-right.svg" alt=""
      /></a>
      for creating a new one.
    </p>
  </div>
</div>
