<div class="add-ticket-container" [class.d-none]="!this.isAddingTicket">
  <div class="add-ticket-modal">
    <h2>Add a new Ticket to {{ fireService.currentBoard.title }}</h2>
    <form (ngSubmit)="addTicket()">
      <div class="form-input">
        <label for="">Title</label>
        <input
          type="text"
          name="title"
          class="input"
          [(ngModel)]="ticket.title"
          required
          minlength="1"
          placeholder="Ticket Title"
        />
      </div>
      <div class="form-input">
        <label for="">Description</label>
        <input
          type="text"
          name="description"
          class="input"
          [(ngModel)]="ticket.description"
          required
          minlength="1"
          placeholder="Ticket Description"
        />
      </div>

      <div class="form-input">
        <label for="">Category</label>
        <select name="category" class="input" id="" [(ngModel)]="ticket.category">
          <option *ngFor="let category of fireService.currentBoard.categories" value="category">
            {{ category }}
          </option>
        </select>
      </div>
      <div class="form-input">
        <label for="">Priority</label>
        <select name="priority" class="input" id="" [(ngModel)]="ticket.priority">
          <option>High</option>
          <option>Middle</option>
          <option>Low</option>
        </select>
      </div>
      <div class="form-input">
        <label for="">Deadline</label>
        <input
          type="date"
          name="deadline"
          class="input"
          [(ngModel)]="ticket.deadline"
        />
      </div>
      <div class="form-input">
        <label for="">Add responsibles</label>
        <input type="text" class="input" placeholder="Add users"/>
      </div>
      <div class="btn-container">
        <button class="btn btn-light" (click)="closeModal()">Cancel</button>
        <input type="submit" class="btn" value="Add Ticket" />
      </div>
    </form>
  </div>
</div>
