 
 .modal-transp {
  align-items: center;
  gap: 20px;
  width: 60vw;
  min-width: 400px;
  padding: 50px;
  padding-bottom: calc(50px - 2vw);
  height: min-content;
  position: relative;

  @media (min-width: 1000px) {
  width: 80%;
  }
}

h2{
  color: rgb(var(--letter-color-dark));
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  gap: 2vw;
  width: 100%;
  max-width: 450px;
  
  
  @media (min-width: 1000px) {
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   max-width: 950px;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  margin-bottom: 0.5vw;
  width: 100%;
}

.input{
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(var(--letter-color-dark), .5);
  border-radius: 2px;
  width: 100%;
 }

 .textarea{
   resize: none;
 }

.btn-container {
  margin-top: 20px;
  justify-self: flex-end;
  @media (min-width:1000px) {
   grid-column-start: 2;
   grid-column-end: 3;
  }
}
.btn {
  display: inline-block;
  width: 150px;

  &:first-child {
    margin-right: 10px;
  }
}
