<div class="modal-transp-container">
  <div class="modal-transp">
    <h2 *ngIf="addTicketServ.action == 'add'">
      Add a new Ticket to {{ fireService.currentBoard?.title }}
    </h2>
    <h2 *ngIf="addTicketServ.action == 'edit'">Edit Ticket</h2>
    <form (ngSubmit)="addTicketServ.saveTicket()">
      <div class="form-input">
        <label for="">Title</label>
        <input
          type="text"
          name="title"
          class="input"
          [(ngModel)]="addTicketServ.ticket.title"
          required
          minlength="1"
          placeholder="Ticket Title"
        />
      </div>
      <div class="form-input">
        <label for="">Description</label>
        <textarea
          type="text"
          name="description"
          class="input textarea"
          [(ngModel)]="addTicketServ.ticket.description"
          required
          minlength="1"
          placeholder="Ticket Description"
          ></textarea>
          <!--          cols="30"
                   rows="10" -->
      </div>

      <div class="form-input">
        <label for="">Category</label>
        <select
          *ngIf="fireService.currentBoard && fireService.currentBoard.categories.length > 0"
          name="category"
          class="input"
          id=""
          [(ngModel)]="addTicketServ.ticket.category"
        >
          <option
            *ngFor="let category of fireService.currentBoard.categories"
            value="{{category}}"
          >
            {{ category }}
          </option>
        </select>
        <span
          style="font-size: 13px"
          *ngIf="fireService.currentBoard && fireService.currentBoard.categories.length == 0"
          >You did not add any categories to this board yet</span
        >
      </div>
      <div class="form-input">
        <label for="">Priority</label>
        <select
          name="priority"
          class="input"
          id=""
          [(ngModel)]="addTicketServ.ticket.priority"
        >
          <option>High</option>
          <option>Middle</option>
          <option>Low</option>
        </select>
      </div>
      <div class="form-input">
        <label for="">Deadline</label>
        <input
          type="date"
          name="deadline"
          class="input"
          [(ngModel)]="addTicketServ.ticket.deadline"
        />
      </div>
<!--       <div class="form-input">
        <label for="">Add responsibles</label>
        <input type="text" class="input" placeholder="Add users" />
      </div> -->
      <div class="btn-container">
        <button
          class="btn btn-light"
          (click)="addTicketServ.closeModal()"
          [disabled]="addTicketServ.isSavingTicket"
        >
          Cancel
        </button>
        <input
          type="submit"
          class="btn"
          [value]="
            addTicketServ.action == 'add' ? 'Add Ticket' : 'Save Changes'
          "
          [disabled]="addTicketServ.isSavingTicket"
        />
      </div>
    </form>

    <app-loading-bar></app-loading-bar>
  </div>
</div>
