@import "../../vars.scss";

.component-container{
  @include flex();
  flex-direction: column
}

h2 {
  @include flex($align: center);
  margin-bottom: 30px;
}

.preview-container {
  @include flex($justify: center);
  flex-wrap: wrap;
  gap: 40px;
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: rgba($theme-color-light, 0.2);
  border-radius: 20px;

  @media (max-width: 450px) {
    background-color: transparent;
  }
}

.add-icon{
  @media (max-width: 450px) {
    right: 20px;
  }
}