h2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.preview-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.add-icon {
  background-color: rgba(var(--theme-color-dark), 0.2);
  margin-left: 20px;

  &:hover {
    background-color: rgba(var(--theme-color-dark), 0.3);
  }

  img {
    filter: brightness(200%);
  }
}
