@import "../../vars.scss";

:host{
  width: 100%;
}

.column-title {
  @include flex(space-between, center);
  gap: 10px;
  flex: 1;
  height: 100%;
  width: 100%;
}

.cursor-p{
  cursor: pointer;
}

.board-title{
  width: unset;

  .title-span{
    max-width: calc(100vw - 130px);
  }
}

.edit-title-input {
  @include flex(center, center);
  text-align: center;
  width: calc(100% - 30px);
  font-size: 1em;
  font-weight: 500;
  color: $letter-color-light;
  background-color: transparent;
  border: none;
  
  span{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.menu-container{
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.more-container {
  @include flex(center, center);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover{
   box-shadow: 2px 2px 6px rgba($box-shadow-dark, 0.5);
   background-color: rgba($theme-color-dark, 0.1);
  }

  &:hover img{
   filter: brightness(70%);
  }

  > img {
    width: 60%;
    height: 60%;
  }
}

.edit-menu {
  position: absolute;
  right: -180px;
  top: 22px;
  border-radius: 5px;
  color: $letter-color-dark;
  background-color: white;
  box-shadow: 2px 2px 6px rgba($box-shadow-dark, 0.5);
  cursor: pointer;
}
.left{
  right: 0;
}
.top{
  top: unset;
  bottom: 22px;
}

.edit-menu-item {
  @include flex($align: center);
  width: 200px;
  height: 40px;
  padding: 0 20px;
  position: relative;

  span {
    font-size: 14px;
  }

  
  &:hover {
    background-color: rgba($theme-color-dark, 0.1);
  }
}

.board-span{
  padding: 0 10px;
  text-shadow: 0 0 12px rgba($theme-color-dark, 0.8);

}
.submenu{
  top: 100%;
  right: 5px;
  box-shadow: 1px 1px 3px rgba($box-shadow-dark, 0.5);
  div{
    display: inline-block;
    width: 20px;
    text-align: center;

  }
}

.submenu-hover{
  &:hover{
    background-color: rgba($theme-color-dark, 0.1);
  }
}