<div
  class="title-container"
  [class.board-title]="hostObject == fireService.currentBoard"
  #titleContainer
  [id]="isBoardTitle ? 'boardtitle-container' : ''"
  #titleItem
  [attr.data-boardtitle]="isBoardTitle"
>
  <input
    type="text"
    [ngStyle]="{
      cursor: isEditingTitle ? 'text' : '',
      width: hostObject == fireService.currentBoard ? spanWidth + 30 + 'px' : ''
    }"
    [(ngModel)]="title"
    class="edit-title-input"
    [class.boardTitle-input]="isBoardTitle"
    [readonly]="!isEditingTitle && !dragService.isDragging"
    (click)="noDefault($event)"
    (keydown)="checkWidth()"
    (keyup)="checkKey(hostObject.id, $event)"
    placeholder="Add a Titel"
    #titleInput
    #titleItem
    [attr.data-boardtitle]="isBoardTitle"
  />

  <div
    class="menu-container"
    [class.menu-container-boardTitle]="isBoardTitle"
    *ngIf="isBoardTitle || !isEditingTitle"
    (click)="toggleMenu()"
    [style.zIndex]="hostObject == fireService.currentBoard ? 2 : 1"
    #menu
    #titleItem
    [attr.data-boardtitle]="isBoardTitle"
  >
    <div class="more-container" #titleItem
    [attr.data-boardtitle]="isBoardTitle">
      <img
        class="menu-img"
        src="assets/img/more.svg"
        alt="menu"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      />
    </div>
    <div
      class="edit-menu menu"
      [class.left]="left"
      [class.top]="top"
      *ngIf="menuIsOpen"
      #editMenu
      [id]="isBoardTitle ? 'boardtitle-menu' : ''"
      #titleItem
      [attr.data-boardtitle]="isBoardTitle"
    >
      <div
        class="edit-menu-item menu"
        (click)="editTitle($event)"
        (mouseenter)="showTooltipEdit = true"
        (mouseleave)="showTooltipEdit = false"
        #edit
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #edit
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/edit.svg"
            alt="edit title"
            class="menu"
            #edit
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Edit title</span
        >
        <app-tooltip
          *ngIf="showTooltipEdit && isBoardTitle && bigger700"
          [text]="'Edit board title'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="collection == 'columns'"
        class="edit-menu-item menu"
        (click)="addNewTicket()"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/add.svg"
            alt="add ticket"
            class="menu"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Add ticket</span
        >
      </div>
      <div
        *ngIf="collection == 'columns'"
        class="edit-menu-item menu"
        (click)="toggleMoveColumnMenu($event)"
        #moveColumnMenu
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #moveColumnMenu
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/arrow-right-left.svg"
            alt="move column"
            class="menu"
            id="move-column-icon"
            #moveColumnMenu
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Move column to position...</span
        >
        <div
          *ngIf="showMoveColumnMenu"
          class="submenu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <div
            *ngFor="let column of fireService.columns; let i = index"
            (click)="moveColumn(i)"
            [id]="i == index ? 'current-column' : ''"
            [ngStyle]="{
              color: i == index ? 'rgba(var(--letter-color-dark), 0.5)' : '',
              cursor: i == index ? 'default' : ''
            }"
            [class.submenu-hover]="i != index"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          >
            {{ i + 1 }}
          </div>
        </div>
      </div>
      <div
        *ngIf="collection == 'boards'"
        class="edit-menu-item menu"
        (click)="setBackgroundImage($event)"
        (mouseenter)="showTooltipBgImg = true"
        (mouseleave)="showTooltipBgImg = false"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/image.svg"
            alt="Background image"
            class="menu"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Background image</span
        >
        <app-tooltip
          *ngIf="showTooltipBgImg && isBoardTitle && bigger700"
          [text]="'Change background image'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="hostObject == fireService.currentBoard"
        class="edit-menu-item menu"
        (click)="fireService.addColumn()"
        (mouseenter)="showTooltipAdd = true"
        (mouseleave)="showTooltipAdd = false"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/add.svg"
            alt="add column"
            class="menu"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Add column</span
        >
        <app-tooltip
          *ngIf="showTooltipAdd && isBoardTitle && bigger700"
          [text]="'Add column'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="hostObject == fireService.currentBoard"
        class="edit-menu-item menu"
        (click)="showCategoryModal()"
        (mouseenter)="showTooltipCat = true"
        (mouseleave)="showTooltipCat = false"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/folder.svg"
            alt="add category"
            class="menu"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Edit categories</span
        >
        <app-tooltip
          *ngIf="showTooltipCat && isBoardTitle && bigger700"
          [text]="'Edit categories'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        class="edit-menu-item menu"
        (click)="delete($event, hostObject.id)"
        (mouseenter)="showTooltipDelete = true"
        (mouseleave)="showTooltipDelete = false"
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      >
        <div
          class="menu-icon-container menu"
          #titleItem
          [attr.data-boardtitle]="isBoardTitle"
        >
          <img
            src="assets/img/delete.svg"
            alt="delete column"
            class="menu"
            #titleItem
            [attr.data-boardtitle]="isBoardTitle"
          />
        </div>
        <span class="edit-menu-text menu" #titleItem
        [attr.data-boardtitle]="isBoardTitle"
          >Delete</span
        >
        <app-tooltip
          *ngIf="showTooltipDelete && isBoardTitle && bigger700"
          [text]="'Delete board'"
          [left]="true"
        >
        </app-tooltip>
      </div>
    </div>
  </div>
  <div
    class="menu-container"
    *ngIf="isEditingTitle"
    #titleItem
    [attr.data-boardtitle]="isBoardTitle"
  >
    <div
      class="more-container"
      (click)="saveTitle($event, hostObject.id)"
      #titleItem
      [attr.data-boardtitle]="isBoardTitle"
    >
      <img
        class=""
        src="assets/img/done.svg"
        alt="save new title"
        #saveTitleMenu
        #titleItem
        [attr.data-boardtitle]="isBoardTitle"
      />
    </div>
  </div>
  <span class="hidden-span" #hiddenSpan>
    {{ title || "Add a title" }}
  </span>
</div>
