<div
  class="title-container"
  [class.board-title]="hostObject == fireService.currentBoard"
  #titleContainer
  [id]="boardTitle? 'boardtitle-container' : ''"
>
  <input
    type="text"
    [ngStyle]="{
      cursor: isEditingTitle ? 'text' : '',
      width: hostObject == fireService.currentBoard ? spanWidth + 30 + 'px' : ''
    }"
    [(ngModel)]="title"
    class="edit-title-input"
    [readonly]="!isEditingTitle && !dragService.isDragging"
    (click)="noDefault($event)"
    (keydown)="checkWidth()"
    (keyup)="checkKey(hostObject.id, $event)"
    placeholder="Add a Titel"
    #titleInput
  />

  <div
    class="menu-container"
    [class.menu-container-boardTitle]="boardTitle"
    *ngIf="boardTitle || !isEditingTitle"
    (click)="toggleMenu()"
    [style.zIndex]="hostObject == fireService.currentBoard ? 2 : 1"
    #menu
  >
    <div class="more-container">
      <img class="menu-img" src="assets/img/more.svg" alt="menu" />
    </div>
    <div
      class="edit-menu menu"
      [class.left]="left"
      [class.top]="top"
      *ngIf="menuIsOpen"
      #editMenu
      [id]="boardTitle? 'boardtitle-menu' : ''"
    >
      <div
        class="edit-menu-item menu"
        (click)="editTitle($event)"
        (mouseenter)="showTooltipEdit = true"
        (mouseleave)="showTooltipEdit = false"
        #edit
      >
        <div class="menu-icon-container menu">
          <img src="assets/img/edit.svg" alt="edit title" class="menu" />
        </div>
        <span class="edit-menu-text menu">Edit title</span>
        <app-tooltip
          *ngIf="showTooltipEdit && boardTitle && bigger700"
          [text]="'Edit board title'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="collection == 'columns'"
        class="edit-menu-item menu"
        (click)="addNewTicket()"
      >
        <div class="menu-icon-container menu">
          <img src="assets/img/add.svg" alt="add ticket" class="menu" />
        </div>
        <span class="edit-menu-text menu">Add ticket</span>
      </div>
      <div
        *ngIf="collection == 'columns'"
        class="edit-menu-item menu"
        (click)="toggleMoveColumnMenu($event)"
        #moveColumnMenu
      >
        <div class="menu-icon-container menu">
          <img
            src="assets/img/arrow-right-left.svg"
            alt="move column"
            class="menu"
            id="move-column-icon"
          />
        </div>
        <span class="edit-menu-text menu">Move column to position...</span>
        <div *ngIf="showMoveColumnMenu" class="submenu">
          <div
            *ngFor="let column of fireService.columns; let i = index"
            (click)="moveColumn(i)"
            [id]="i == index ? 'current-column' : ''"
            [ngStyle]="{
              color: i == index ? 'rgba(var(--letter-color-dark), 0.5)' : '',
              cursor: i == index ? 'default' : ''
            }"
            [class.submenu-hover]="i != index"
          >
            {{ i + 1 }}
          </div>
        </div>
      </div>
      <div
        *ngIf="collection == 'boards'"
        class="edit-menu-item menu"
        (click)="setBackgroundImage($event)"
        (mouseenter)="showTooltipBgImg = true"
        (mouseleave)="showTooltipBgImg = false"
      >
        <div class="menu-icon-container menu">
          <img src="assets/img/image.svg" alt="Background image" class="menu" />
        </div>
        <span class="edit-menu-text menu">Background image</span>
        <app-tooltip
          *ngIf="showTooltipBgImg && boardTitle && bigger700"
          [text]="'Change background image'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="hostObject == fireService.currentBoard"
        class="edit-menu-item menu"
        (click)="fireService.addColumn()"
        (mouseenter)="showTooltipAdd = true"
        (mouseleave)="showTooltipAdd = false"
      >
        <div class="menu-icon-container menu">
          <img src="assets/img/add.svg" alt="add column" class="menu" />
        </div>
        <span class="edit-menu-text menu">Add column</span>
        <app-tooltip
          *ngIf="showTooltipAdd && boardTitle && bigger700"
          [text]="'Add column'"
          [left]="true"
        >
        </app-tooltip>
      </div>
      <div
        *ngIf="hostObject == fireService.currentBoard"
        class="edit-menu-item menu"
        (click)="showCategoryModal()"
        (mouseenter)="showTooltipCat = true"
        (mouseleave)="showTooltipCat = false"
      >
        <div class="menu-icon-container menu">
          <img src="assets/img/folder.svg" alt="add category" class="menu" />
        </div>
        <span class="edit-menu-text menu">Edit categories</span>
        <app-tooltip
        *ngIf="showTooltipCat && boardTitle && bigger700"
        [text]="'Edit categories'"
        [left]="true"
      >
      </app-tooltip>
      </div>
      <div class="edit-menu-item menu" (click)="delete($event, hostObject.id)"         (mouseenter)="showTooltipDelete = true"
      (mouseleave)="showTooltipDelete = false">
        <div class="menu-icon-container menu">
          <img src="assets/img/delete.svg" alt="delete column" class="menu" />
        </div>
        <span class="edit-menu-text menu">Delete</span>
        <app-tooltip
        *ngIf="showTooltipDelete && boardTitle && bigger700"
        [text]="'Delete board'"
        [left]="true"
      >
      </app-tooltip>
      </div>
    </div>
  </div>
  <div class="menu-container" *ngIf="isEditingTitle">
    <div class="more-container" (click)="saveTitle($event, hostObject.id)">
      <img
        class=""
        src="assets/img/done.svg"
        alt="save new title"
        #saveTitleMenu
      />
    </div>
  </div>
  <span class="hidden-span" #hiddenSpan>
    {{ title || "Add a title" }}
  </span>
</div>
