:host{
  width: 100%;
}

.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  height: 100%;
  width: 100%;
}

.cursor-p{
  cursor: pointer;
}

.board-title{
  width: unset;

  .title-span{
    max-width: calc(100vw - 130px);
  }
}

.edit-title-input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: calc(100% - 30px);
  font-size: 1em;
  font-weight: 500;
  color: rgb(var(--letter-color-light));
  /* text-shadow: 0 0 8px rgba(var(--letter-shadow-dark), .5); */
/*   margin-top: 1em;
  margin-bottom: 0.8em; */
  background-color: transparent;
  border: none;
  
  span{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.menu-container{
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover{
   box-shadow: 2px 2px 4px rgba(var(--letter-color-light), 0.2);
   background-color: rgba(var(--theme-color-dark), 0.1);
  }

  &:hover img{
   filter: brightness(70%);
  }

  > img {
    width: 60%;
    height: 60%;
  }
}

.edit-menu {
  position: absolute;
  right: -180px;
  top: 22px;
  border-radius: 5px;
  color: rgb(var(--letter-color-dark));
  background-color: white;
  cursor: pointer;
}
.left{
  right: 0;
}
.top{
  top: unset;
  bottom: 22px;
}

.edit-menu-item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 20px;

  span {
    font-size: 14px;
  }

  
  &:hover {
    background-color: rgba(var(--theme-color-dark), 0.1);
  }
}

.board-span{
  padding: 0 10px;
  text-shadow: 0 0 12px rgba(var(--theme-color-dark), 0.8);

}