.component-container{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 gap: 3vh;
}

h2{
 color: rgb(var(--letter-color-dark));
 text-align: center;
 margin-top: 0;
}

form{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

label{
 display: inline-block;
 width: 100px;
}

input{
 padding: 5px;
 border: none;
 border-bottom: 1px solid rgba(var(--letter-color-dark), .6);
}

button{
 margin: 15px 0 30px;
}

p{
 font-size: 14px;

 a{
  color: rgb(var(--letter-color-dark));
  text-transform: none;
  cursor: pointer;

  &:hover{
   color: rgba(0,0,0,.9);
  }
 }
}

.alert{
 font-size: 13px;
 color: rgb(181, 13, 13);
}