<div class="main-background component-container auth-container">
  <img class="logo-main" src="assets/img/logo_0_white.svg"  alt="">
  <div class="modal" #modal>
    <h2>Please log in</h2>
    <div content-container>
      <form (ngSubmit)="login(userInput.email, userInput.password)" #form="ngForm">
        <div class="form-input">
          <label for="">E-mail</label>
          <input
            type="text"
            class="input"
            name="email"
            placeholder="Please enter your e-mail"
            [(ngModel)]="userInput.email"
            required
            (click)="alert=false;"
          />
        </div>
        <div class="form-input">
          <label for="">Password</label>
          <input
            type="password"
            class="input"
            name="password"
            placeholder="Please enter your password"
            [(ngModel)]="userInput.password"
            required
            (click)="alert=false;"
          />
        </div>
        <div class="alert" *ngIf="this.alert">Username or password incorrect. Please try again.
        </div>
        <button type="submit" class="btn" [disabled]="!form.valid">
          Log in
        </button>
      </form>
      <p>Not registered yet? Register <a class="auth-link" routerLink="/register">here</a></p>
      <p>Or log in as <a class="auth-link" (click)="loginAsGuest()">guest</a></p>
      <p>Forgot your Password? Reset your password <a class="auth-link" (click)="resetPw = true">here</a></p>
    </div>
    <app-loading-bar *ngIf="fireService.isProcessing"></app-loading-bar>
  </div>
</div>
<app-password-reset *ngIf="resetPw" (onCloseModal)="resetPw = false"></app-password-reset>
