<div class="main-background component-container">
  <h1>Kanban Board</h1>
  <div class="modal" #modal>
    <h2>Please log in</h2>
    <div content-container>
      <form (ngSubmit)="checkLoginData()" #form="ngForm">
        <div class="form-input">
          <label for="">Username</label>
          <input
            type="text"
            class="input"
            name="username"
            placeholder="Please enter your username"
            [(ngModel)]="userInput.username"
            required
            (click)="alert=false;"
          />
        </div>
        <div class="form-input">
          <label for="">Password</label>
          <input
            type="password"
            class="input"
            name="password"
            placeholder="Please enter your password"
            [(ngModel)]="userInput.password"
            required
            (click)="alert=false;"
          />
        </div>
        <div class="alert" *ngIf="this.alert">Username or password incorrect. Please try again.
        </div>
        <button type="submit" class="btn" [disabled]="!form.valid">
          Log in
        </button>
      </form>
      <p>Not registered yet? Register <a routerLink="/register">here</a></p>
    </div>
    <app-loading-bar [width]="this.width"></app-loading-bar>
  </div>
</div>
