@import "../../vars.scss";

.modal-transp-container {
  @media (max-width: 700px) {
    padding: 0;
  }
}
.modal-transp {
  align-self: center;
  width: 600px;
  min-height: 400px;
  margin-top: 50px;
  padding: 50px 40px;
  position: relative;

  @media (max-width: 700px) {
    width: 100%;
    min-height: 100vh;
    margin-top: 0;
    transform: none;
  }

  @media (max-width: 450px) {
    padding: 50px 0;
  }
}

.content {
  height: 100%;
  padding: 0 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 25px;
}

h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

form {
  margin-bottom: 30px;
  background-color: rgba($theme-color-dark, 0.05);
  padding: 20px;
}

label {
  display: block;
}

input {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: white;
  border: 1px solid rgba($letter-color-dark, 0.5);
  width: 60%;

  &:focus {
    outline: none;
  }
}

.btn-add-cat {
  margin-left: 20px;
  padding: 10px 15px;
}
.btn-close {
  padding: 15px 25px;
  margin-top: 20px;
  flex: 0;
  align-self: flex-end;
}

ul {
  padding: 0;
  font-size: 14px;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.edit-category {
  @include flex($align: center);
  flex: 1;
  font-size: 1em;
  font-weight: 500;
  color: $letter-color-dark;
  background-color: transparent;
  border: none;

  .category {
    @include flex($align: center);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    .color-span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}

.color-modal {
  padding: 20px 0;
  border-bottom: 1px solid rgba($theme-color-dark, 0.1);

  .btn-container {
    @include flex($justify: flex-end);
  }
}
