@import "../../vars.scss";

.backlog {
  height: 100vh;
  background-image: var(--bg-img);
  background-size: cover;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

h2 {
  @include flex($align: center);
  align-items: center;
}

.outer-ticket-container {
  @include flex($justify: center);
  width: 100%;
}

.inner-ticket-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}