@import "../../vars.scss";

.backlog {
  height: 100vh;
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  @include flex($align: center);
  align-items: center;
}

.ticket-container {
  width: 100%;
  max-width: 800px;
}