<div  *ngIf="fireService.currentBoard && showBacklog"
  class="backlog component-container"
  style.backgroundImage="url({{
    fireService.currentBoard?.bgImg
  }})"
>
  <h2>Backlog of {{ fireService.currentBoard?.title }}</h2>
  <div class="outer-ticket-container" *ngIf="fireService.backlogTickets">
    <div class="inner-ticket-container" *ngIf="fireService.backlogTickets">
      <app-ticket
        *ngFor="let ticket of fireService.backlogTickets"
        [ticket]="ticket"
      ></app-ticket>
    </div>
  </div>
</div>
<app-ticket-add *ngIf="addTicketServ.isAddingTicket"></app-ticket-add>
<div
  class="add-icon"
  (click)="addTicketServ.addTicket('backlog')"
  (mouseenter)="toggleTooltip()"
  (mouseleave)="toggleTooltip()"
>
  <app-tooltip
    *ngIf="showTooltip"
    [text]="'Add a ticket'"
    [left]="true"
  ></app-tooltip>
  <img src="assets/img/add.svg" alt="add a ticket" />
</div>
<div class="prohibited component-container main-background" *ngIf="!showBacklog">
  <div class="prohibited-modal">Sorry, you don't have access to the backlog of this board</div>
</div>