<div class="backlog component-container">
  <h2>
    Backlog
    <div class="add-icon" (click)="addTicketServ.addTicket('backlog')" (mouseenter)="toggleTooltip()" (mouseleave)="toggleTooltip()">
      <app-tooltip  *ngIf="showTooltip" [text]="'Add ticket'"></app-tooltip>
      <img src="assets/img/add.svg" alt="add a new column" />
    </div>
  </h2>
  <div class="ticket-container" *ngIf="fireService.backlogTickets">
    <app-ticket
      *ngFor="let ticket of fireService.backlogTickets"
      [ticket]="ticket"
    ></app-ticket>
  </div>
  <app-ticket-add *ngIf="addTicketServ.isAddingTicket"></app-ticket-add>
</div>
