<div
  class="backlog component-container"
  style.backgroundImage="url('assets/bg-img/{{
    fireService.currentBoard?.bgImg
  }}')"
>
  <h2>Backlog</h2>
  <div class="ticket-container" *ngIf="fireService.backlogTickets">
    <app-ticket
      *ngFor="let ticket of fireService.backlogTickets"
      [ticket]="ticket"
    ></app-ticket>
  </div>
</div>
<app-ticket-add *ngIf="addTicketServ.isAddingTicket"></app-ticket-add>
<div
  class="add-icon"
  (click)="addTicketServ.addTicket('backlog')"
  (mouseenter)="toggleTooltip()"
  (mouseleave)="toggleTooltip()"
>
  <app-tooltip
    *ngIf="showTooltip"
    [text]="'Add a ticket'"
    [left]="true"
  ></app-tooltip>
  <img src="assets/img/add.svg" alt="add a ticket" />
</div>
