<div class="main-background component-container auth-container">
  <div class="modal" #modal>
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>Anna Ludewig</p>
    <h3>Postanschrift:</h3>
    <p>Erlenstr. 14<br />01097 Dresden<br /></p>
    <h3>Kontakt:</h3>
    <p>E-Mail: aludewig@posteo.de</p>
    <h2>Hinweise zur Website</h2>
    <h3>Urheberrechtliche Hinweise</h3>
    <p>
      Die verwendeten Icons stammen von icons8.com und fontawesome.com.<br />
    </p>
    <p class="last">
      <em
        >Das Impressum wurde mit dem
        <a href="https://www.activemind.de/datenschutz/impressums-generator/"
          >Impressums-Generator der activeMind AG</a
        >
        erstellt.</em
      >
    </p>
    <a class="img-link" routerLink="/">
      <img src="assets/img/angles-left.svg" alt="" />
      Back
    </a>
  </div>
</div>
