.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  cursor: pointer;
}

input {
  text-align: center;
  width: 220px;
  font-size: 1em;
  font-weight: 500;
  color: rgb(var(--letter-color));
  text-shadow: 0 0 8px rgba(var(--letter-shadow), 1);
  margin-top: 1em;
  margin-bottom: 0.8em;
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.menu-container{
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}

.more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover{
   box-shadow: 2px 2px 4px rgba(var(--theme-color), 0.2);
   background-color: rgba(var(--theme-color), 0.1);
  }

  &:hover img{
   filter: brightness(70%);
  }

  > img {
    width: 60%;
    height: 60%;
  }
}
