<div class="board component-container" *ngIf="fireService.currentBoard">
  <h2>
    {{ fireService.currentBoard.title }}
    <div class="add-icon" (click)="fireService.addColumn()">
      <img src="assets/img/add.svg" alt="add a new column" />
    </div>
  </h2>

  <div class="board-columns">
    <div
      class="column-container"
      *ngIf="fireService.columns"
    >
      <!--   <app-board-column (addingTicket)="addingTicket($event)"></app-board-column> -->
      <app-board-column
      class="column-component"
        *ngFor="let column of fireService.columns; let index = index"
        [column]="column" [index]="index"
        (triggerAnim)="dragService.startColumnAnim($event)"
        #column
      ></app-board-column>
    </div>
    <app-ticket-add  *ngIf="addTicketServ.isAddingTicket"></app-ticket-add>
  </div>
</div>
