.board {
  height: 100vh;
  background-image: var(--bg-img);
  background-size: cover;

  overflow-y: hidden;
}

h2{
 display: flex;
 align-items: center;
 display: inline-block;
}

.board-columns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 210px);
}

.column-container {
  padding-right: 20px;
  display: flex;
}

.add-icon {
  background-color: rgba(var(--theme-color-dark), 0.2);
  margin-left: 20px;

  &:hover {
    background-color: rgba(var(--theme-color-dark), 0.3);
  }

  img {
    filter: brightness(200%);
  }
}

.prohibited{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3vh;
 }
 
 .prohibited-modal{
  align-self: center;
  background-color: rgb(var(--theme-color-light));
  color: rgb(var(--letter-color-dark));
  border-radius: 20px;
  width: 500px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
 }