<div
  class="board component-container"
  *ngIf="fireService.currentBoard && showBoard"
  [ngStyle]="{'background-image': getBackgroundImage()}"
  >
  <!-- style.backgroundImage="url('assets/bg-img/{{fireService.currentBoard.bgImg}}')" -->
  <h2>
    <app-title
      [hostObject]="fireService.currentBoard"
      [collection]="'boards'"
      (showCatModal)="showCategoriesModal = true"
      (setBackground)="setBgImage = true"
    ></app-title>
  </h2>

  <div class="board-columns">
    <div class="column-container" *ngIf="fireService.columns">
      <app-board-column
        class="column-component"
        *ngFor="let column of fireService.columns; let index = index"
        [column]="column"
        [index]="index"
        #column
      ></app-board-column>
    </div>
    <app-ticket-add *ngIf="addTicketServ.isAddingTicket"></app-ticket-add>
  </div>
</div>
<app-categories
  *ngIf="showCategoriesModal"
  (closeCatModal)="showCategoriesModal = false"
></app-categories>
<div class="prohibited component-container main-background" *ngIf="!showBoard">
  <div class="prohibited-modal">Sorry, you don't have access to this board</div>
</div>
<app-set-bg *ngIf="setBgImage" [selectedBoard]="fireService.currentBoard?.id" (imageSet)="setBgImage = false; previewImage = ''" (selectedImage)="setPreviewImage($event)"></app-set-bg>

