.board{
 height: 100vh;
padding: 80px 50px 50px;
}

.board-columns{
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
height: calc(100vh - 210px);
}

.column-container{
 display: flex;
}

.add-icon{
 background-color: rgba(var(--bg-blue), .2);
 
 &:hover{
  background-color: rgba(var(--bg-blue), .3);
 }

 img{
  filter: brightness(200%);
 }
}
