<nav class="navigation" [style.right]="navIsOpen ? '0' : ''">
  <div class="nav-right nav-section">
    <a (click)="navigate('/boards')" >Boards Overview</a>
    <!--   <a [routerLink]="'/backlog'">Backlog</a> -->
    <a (click)="logout()">Log out</a>
  </div>

  <div *ngIf="fireService.currentBoard" class="nav-left nav-section"> {{ fireService.currentBoard.title | uppercase }}
    <ul >
      <li class="list-item">
        <a (click)="navigate('/board/' + fireService.currentBoard.id)"
        >Board</a
        >
      </li>
      <li class="list-item">
        <a (click)="navigate('/board/' + fireService.currentBoard.id + '/backlog')"
          >Backlog</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="menu" (click)="toggleMenu()">
  <img src="assets/img/menu.svg" alt="toggle navigation" [class.d-none]="navIconClose">
  <img src="assets/img/close.svg" alt="toggle navigation" [class.d-none]="!navIconClose">
</div>
