@import "./vars.scss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #464646;
  min-width: 100%;
  color: $letter-color-light;
/*   --theme-color-dark: 50, 40, 30;
  --theme-color-light: 255, 255, 255;
  --letter-color-light: 255, 255, 255;
  --letter-shadow-light: 200, 200, 200;
  --letter-shadow-dark: 70, 70, 70;
  --box-shadow-dark: 70, 70, 70;
  --priority-high: 250, 120, 120;
  --priority-middle: 250, 250, 80;
  --priority-low: 140, 250, 100; */
  --letter-color-dark: 70, 70, 70;
  --priority-low: #8cfa64;
}

.component-container {
  padding: 100px 50px 50px;
  min-height: 100vh;

  @media (max-width: 450px) {
    padding: 100px 10vw 50px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  color: $letter-color-light;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 26px;
}

h3 {
  margin-bottom: 10px;
  margin-bottom: 25px;

  font-weight: 500;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $letter-color-light;
  font-weight: 500;

  &:hover {
    color: rgba($letter-color-light, 0.5);
  }
}

.d-none {
  display: none !important;
}

.d-unset{
  display: unset !important;
}

.h-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  min-height: 0 !important;
  height: 0px !important;
  padding: 0 10px !important;
  overflow-y: hidden;
}

.btn-container {
  margin-top: 20px;
}

.btn {
  padding: 15px;
  border: none;
  color: #fff;
  background: rgba($theme-color-dark, 0.4);
  border-radius: 40px;
  background-position: 30% 50%;
  cursor: pointer;
  display: inline-block;
  width: 150px;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    background: rgba($theme-color-dark, 0.5);
  }

  &:disabled,
  &[disabled] {
    background: rgba($theme-color-dark, 0.1);
    cursor: default;

    &:hover {
      background: rgba($theme-color-dark, 0.1);
    }
  }
}

.btn-light {
  color: $theme-color-dark !important;
  background: #fff;

  &:hover {
    background: rgba($theme-color-dark, 0.2);
  }

  &:disabled,
  &[disabled] {
    color: rgba($letter-color-dark, 0.3) !important;
    background: #fff;
    cursor: default;

    &:hover {
      background: transparent;
    }
  }
}

.add-icon {
  @include flex(center, center);
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba($box-shadow-dark, 0.3);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: $white-hover-color;
    box-shadow: 2px 2px 6px rgba($box-shadow-dark, 0.6);
  }
}

img {
  width: 60%;
  height: 60%;
}

.main-background {
  background: radial-gradient(
      circle at 100% 60%,
      rgba(255, 255, 255, 0.3) 10%,
      rgba(255, 255, 255, 0.1) 30%,
      transparent calc(30% + 1.5px)
    ),
    radial-gradient(
      circle at 20% 90%,
      rgba(255, 255, 255, 0.3) 10%,
      rgba(255, 255, 255, 0.1) 30%,
      transparent calc(30% + 1.5px)
    ),
    radial-gradient(
      circle at 40% 10%,
      rgba(255, 255, 255, 0.3) 10px,
      rgba(255, 255, 255, 0.1) 45px,
      transparent 46px
    ),
    radial-gradient(
      circle at 30% 90%,
      rgba(255, 255, 255, 0.2) 10px,
      rgba(255, 255, 255, 0.1) 25px,
      transparent 26px
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(255, 255, 255, 0.3) 10px,
      rgba(255, 255, 255, 0.1) 30px,
      transparent 31px
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(255, 255, 255, 0.3) 20px,
      rgba(255, 255, 255, 0.1) 100px,
      transparent 101px
    ),
    radial-gradient(
      circle at 10% 0%,
      rgba(255, 255, 255, 0.3) 20px,
      rgba(255, 255, 255, 0.1) 50%,
      transparent calc(50% + 1.5px)
    ),
    radial-gradient(circle at 80% 80%, #69c4ce, transparent 50%),
    radial-gradient(circle at 20% 30%, #b987ce, rgb(69, 128, 216));
}

.logo-main{
  width: 300px;
  margin-bottom: 5vh;
}

.auth-container{
  @include flex(center, center);
  flex-direction: column;
  gap: 3vh;
  padding-top: 50px; 

  h1{
    margin-bottom: 5vh
  }
}

.input {
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(var(--letter-color-dark), 0.5);
  border-radius: 2px;
  width: 100%;
  font-size: 14px;
}

.modal-transp-container {
  /* @include flex(center, center); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background-color: rgba($theme-color-dark, 0.3);
  overflow-y: auto;
  z-index: 3;
}


.modal-transp {
  @include flex(center, center);
  flex-direction: column;
  padding: 40px 40px 30px;
  color: $letter-color-dark;
  background-color: rgba($theme-color-light, 0.85);
  transform: translateX(50vw) translateX(-50%);
}


.modal {
  align-self: center;
  background-color: $theme-color-light;
  color: $letter-color-dark;
  border-radius: 20px;
  width: 500px;
  min-height: 400px;
  padding: 50px;
  position: relative;
  overflow: hidden;

  @media (max-width: 600px) {
    color: $letter-color-light;
    padding: 0;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
  }
  
  h2 {
    color: $letter-color-dark;
    text-align: center;
    margin-top: 0;
    @media (max-width: 600px) {
      color: $letter-color-light;
    margin-bottom: 30px;
    }
    @media (max-width: 450px) {
      padding-left: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-input:first-child {
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }

  label {
    display: inline-block;
    width: 100px;

    @media (max-width: 600px) {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba($letter-color-dark, 0.6);
    
    @media (max-width: 600px) {
      border-radius: 5px;
      padding: 7px;
      background-color: rgba($theme-color-light, 0.5);
    }
  }

  button {
    margin: 15px 0 30px;
  }

  p {
    font-size: 14px;

    a {
      color: $letter-color-dark;
      text-transform: none;
      text-decoration: underline;
      cursor: pointer;
      @media (max-width: 600px) {
        color: $letter-color-light;
      }
      
      &:hover {
        color: rgba(0, 0, 0, 0.9);
        @media (max-width: 600px) {
          color: $letter-color-light;
          text-shadow: 0 0 1px $letter-color-light;
        }
      }
    }
  }

  .alert {
    font-size: 13px;
    color: rgb(181, 13, 13);
  }

  .btn {
    width: 100%;

    @media (max-width:500px) {
      max-width: 300px;
    }
  }
}
.menu-icon-container {
  width: 15px;
  height: 15px;
  margin-right: 10px;

  > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.footer-icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgba($theme-color-light, 0.2);
  }
}

.icon {
  width: 15px;
  height: 15px;
  transition: all 250ms ease-in-out, filter 0ms;
  filter: brightness(500%);
}

.submenu {
  position: absolute;
  top: 30px;
  right: -40px;
  color: $letter-color-dark;
  font-size: 13px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;

  div {
    padding-top: 5px;

    span {
      display: inline-block;
      width: 10px;
    }
  }
}
