$theme-color-dark: #1e2732;
$theme-color-light: #ffffff;
$letter-color-light: #ffffff;
$letter-color-dark: #464646;
$letter-shadow-light: #c8c8c8;
$letter-shadow-dark: #464646;
$box-shadow-dark: #464646;
$white-hover-color: #ddd;
$nav-hover-color: #70deff;
$loading-bar-color: #00a9cb;
$priority-high: #ff9898;
$priority-middle: #ffff82;
$priority-low: #afff92;

@mixin flex($justify: flex-start, $align: flex-start){
 display: flex;
 justify-content: $justify;
 align-items: $align;
}