$theme-color-dark: #1e2732;
$theme-color-light: #ffffff;
$letter-color-light: #ffffff;
$letter-color-dark: #464646;
$letter-shadow-light: #c8c8c8;
$letter-shadow-dark: #464646;
$box-shadow-dark: #464646;
$white-hover-color: #ddd;
$svg-white-hover-filter: invert(25%) sepia(51%) saturate(2828%) hue-rotate(160deg) brightness(140%) contrast(200%);
$svg-grey-hover-filter: invert(20%) sepia(51%) saturate(520%) hue-rotate(180deg) brightness(150%) contrast(200%);
$loading-bar-color: #26c2e1;
$loading-circle-color: #70deff;
$btn-color: #005ec8;
$nav-hover-color: #009ece;
$priority-high: #ff9898;
$priority-middle: #ffff82;
$priority-low: #afff92;

$main-bg: radial-gradient(
 circle at 100% 60%,
 rgba(255, 255, 255, 0.3) 10%,
 rgba(255, 255, 255, 0.1) 30%,
 transparent calc(30% + 1.5px)
),
radial-gradient(
 circle at 20% 90%,
 rgba(255, 255, 255, 0.3) 10%,
 rgba(255, 255, 255, 0.1) 30%,
 transparent calc(30% + 1.5px)
),
radial-gradient(
 circle at 40% 10%,
 rgba(255, 255, 255, 0.3) 10px,
 rgba(255, 255, 255, 0.1) 45px,
 transparent 46px
),
radial-gradient(
 circle at 30% 90%,
 rgba(255, 255, 255, 0.2) 10px,
 rgba(255, 255, 255, 0.1) 25px,
 transparent 26px
),
radial-gradient(
 circle at 70% 70%,
 rgba(255, 255, 255, 0.3) 10px,
 rgba(255, 255, 255, 0.1) 30px,
 transparent 31px
),
radial-gradient(
 circle at 80% 20%,
 rgba(255, 255, 255, 0.3) 20px,
 rgba(255, 255, 255, 0.1) 100px,
 transparent 101px
),
radial-gradient(
 circle at 10% 0%,
 rgba(255, 255, 255, 0.3) 20px,
 rgba(255, 255, 255, 0.1) 50%,
 transparent calc(50% + 1.5px)
),
radial-gradient(circle at 80% 80%, #69c4ce, transparent 50%),
radial-gradient(circle at 20% 30%, #b987ce, rgb(69, 128, 216));

@mixin flex($justify: flex-start, $align: flex-start){
 display: flex;
 justify-content: $justify;
 align-items: $align;
}