<div class="edit-container">
  <div
    *ngIf="!isEditingCategory"
    class="menu-icon-container"
    (click)="editCategoryTitle()"
    (mouseenter)="showTooltipEdit = true"
    (mouseleave)="showTooltipEdit = false"
  >
    <img src="assets/img/edit.svg" alt="edit category" />
    <app-tooltip
      *ngIf="showTooltipEdit"
      [text]="'Edit category title'"
      [left]="true"
    ></app-tooltip>
  </div>
  <div
    class="menu-icon-container"
    (mouseenter)="showTooltipColor = true"
    (mouseleave)="showTooltipColor = false"
  >
    <div class="color-circle" (click)="editCategoryColor()"
    >
      <span></span><span></span><span></span><span></span>
    </div>
    <app-tooltip
      *ngIf="showTooltipColor"
      [text]="'Set category color'"
      [left]="true"
    ></app-tooltip>
  </div>
  <div
    *ngIf="isEditingCategory"
    class="menu-icon-container"
    (click)="saveCategory()"
  >
    <img src="assets/img/done.svg" alt="save catgory" id="save-title" />
  </div>
  <div
    class="menu-icon-container"
    (click)="deleteCategory()"
    (mouseenter)="showTooltipDelete = true"
    (mouseleave)="showTooltipDelete = false"
  >
    <img src="assets/img/delete.svg" alt="delete category" />
    <app-tooltip
      *ngIf="showTooltipDelete"
      [text]="'Delete category'"
      [left]="true"
    ></app-tooltip>
  </div>
</div>
