@import "../../vars.scss";

.tooltip{
 padding: 5px 10px;
 background-color: rgba($theme-color-dark, .6);
 color: $theme-color-light;
 font-size: 14px;
 font-weight: 400;
 border-radius: 8px;
 position: absolute;
 top: -32px;
left: 10px; 
white-space: nowrap;
}

.left{
 left: unset;
 right: 0px;
 top: -35px;
}