@import "../../vars.scss";

.component-container {
  padding: 0;
  position: relative;
}

h2 {
  font-size: clamp(20px, 2.5vw, 52px);
  font-weight: 400;
  text-align: center;
  margin: 0;
}

p {
  font-size: clamp(20px, 3.5vw, 32px);
  @media (min-width: 1400px) {
   font-size: clamp(20px, 2.5vw, 48px);
  }
}

.section-container {
  @include flex(space-between, center);
  gap: 7vw;
  height: 100vh;
  width: 100%;
  padding: 0 150px;

  @media (max-width: 1200px) {
    @include flex(center, center);
    flex-direction: column !important;
    gap: 12vh;
  }

  @media (max-width: 800px) {
    padding: 0 10vw;
  }

  &:nth-child(odd):not(:first-child) {
    height: 130vh;
    flex-direction: row-reverse;
    img {
      border-radius: 38% 62% 64% 36% / 25% 35% 65% 75%;
    }
  }

  &:nth-child(even) {
    height: 100vh;
    background: rgba($color: #ffffff, $alpha: 0.7);
    color: $letter-color-dark;
  }

  &:last-child{
   height: 200vh !important;
   padding-bottom: 30vh !important;
  }

  img {
    width: 45vw;
    height: auto;
    border-radius: 51% 49% 56% 44% / 24% 64% 36% 76%;
    filter: drop-shadow(0 0 10px rgba($box-shadow-dark, 0.5));
    @media (max-width: 1200px) {
      width: 100%;
      max-width: 600px;
    }
  }
}

.main {
  @include flex(center, center);
  flex-direction: column;

  img {
    width: 30vw;
    height: auto;
    min-width: 250px;
    border-radius: 0;
    flex: 0;
    margin-bottom: 0;
  }
}

.btn {
  @include flex(center, center);
  min-width: fit-content;
  padding: clamp(20px, 1.5vw, 30px);
  white-space: nowrap;
  font-size: clamp(16px, 1.5vw, 38px);
  border-radius: 100px;

  &:hover {
    color: $letter-color-light;
    box-shadow: 1px 1px 4px rgba($box-shadow-dark, 0.5);
  }
}

.section-divider {
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
  }
}

.sd-main {
  &::before {
    background-size: 100% 179px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" opacity=".45" fill="%23ffffff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".25" fill="%23ffffff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.3h35.28z" opacity=".25" fill="%23ffffff"/></svg>');
    @media (min-width: 2100px) {
      background-size: 100% calc(2vw + 179px);
    }
    @media (max-width: 800px) {
      background-size: 100% 20%;
    }
  }
}

.sd-top {
  &::before {
    background-size: 100% 170px;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" opacity=".7" fill="%23ffffff"/></svg>');

    @media (min-width: 2100px) {
      background-size: 100% calc(2vw + 170px);
    }

    @media (max-width: 800px) {
      background-size: 100% 10%;
    }
  }
}

.sd-bottom {
  &::after {
    background-size: 400% 400px;
    background-position: 95% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" opacity=".7" fill="%23ffffff"/></svg>');

    @media (min-width: 2100px) {
      background-size: 400% calc(2vw + 400px);
    }
    @media (max-width: 800px) {
      background-size: 276% 20%;
    }
  }
}

.link-wrapper{
 @include flex(center, center);
 width: 100%;
 position: absolute;
 bottom: 50px;
 background: transparent;
 
 @media (max-width: 1200px) {
  position: block;
  background: rgba($color: #ffffff, $alpha: 0.7);
 }
}
