<div class="main-background component-container">
  <div class="section-container main">
    <img class="logo-main" src="assets/img/logo_0_white.svg" alt="" />
      <h2>
        Kanban is a free process management tool that helps you to organize your work
        and tasks.
      </h2>
      <a routerLink="/login" type="button" class="btn">
        Go to Login
      </a>
  </div>
  <div class="section-container">
    <p>Create boards for your different work areas.</p>
    <img src="assets/home_img/kanban1.jpg" alt="" />
  </div>
  <div class="section-container">
    <p>Create columns in your boards to structure the progress.</p>
    <img src="assets/home_img/kanban2.jpg" alt="" />
  </div>
  <div class="section-container">
    <p>
      Create tickets that contain your tasks. Shift them from column to column
      according to your work progress.
    </p>
    <img src="assets/home_img/kanban6.jpg" alt="" />
  </div>
  <div class="section-container">
    <p>
      Add board categories with colors which you can assign to your tasks for
      giving them more structure.
    </p>
    <img src="assets/home_img/kanban4.jpg" alt="" />
  </div>
  <div class="section-container">
    <p>Personalize your board giving it the background image you want to.</p>
    <img src="assets/home_img/kanban5.jpg" alt="" />
  </div>
</div>
