<div class="main-background component-container auth-container">
  <img class="logo-main" src="assets/img/logo_0_white.svg" alt="" />
  <div class="section-container">
    <p>
      Kanban is a process management tool that helps you to organize your work
      and tasks.
    </p>
    <div class="section-container">
      <p>Create boards for your different work areas.</p>
    </div>
    <div class="section-container">
      <p>Create columns in your boards to structure the progress.</p>
    </div>
    <div class="section-container">
      <p>
        Create tickets that contain your tasks. Shift them from column to column
        according to your work progress.
      </p>
    </div>
    <div class="section-container">
      <p>
        Add board categories with colors which you can assign to your tasks for
        giving them more structure.
      </p>
    </div>
    <div class="section-container">
      <p>Personalize your board giving it the background image you want to.</p>
    </div>
  </div>
</div>
