<div
  #ticketElem
  class="ticket"
  (click)="showTicket()"
  draggable="true"
  (dragstart)="dragService.dragTicket($event, ticket)"
>
  <div class="ticket-title" [class.border-r-0]="isVisible">
    <div
      [ngStyle]="{ 'background-color': getPriorityColor() }"
      class="priority-border"
    ></div>
    <p>{{ ticket.title }}</p>
  </div>
  <div class="ticket-description" [class.h-0]="!isVisible" #descriptionElem>
    <p class="d-none" #descriptionTextElem>{{ ticket.description }}</p>
  </div>
  <div class="ticket-info" [class.h-0]="!isVisible" #info>
    <p class="d-none" #deadline>
      <img src="assets/img/clock.svg" class="h-0" #icon />
      {{ getDeadline() || "No deadline" }}
    </p>
    <p class="d-none" #priority >
      <img src="assets/img/priority.svg" class="h-0" #icon />
      <span [ngStyle]="{ 'background': getPriorityColor(), 'padding': ticket.priority == ''? '0' : '0 5px' }">{{ ticket.priority || "No priority" }}</span>
    </p>
    <p class="d-none" #category>
      <img src="assets/img/folder.svg" class="h-0" #icon />
      {{ ticket.category || "No category" }}
    </p>
    <p class="d-none" #date>
      <img src="assets/img/date.svg" class="h-0" #icon /> {{ ticket.date }}
    </p>
  </div>
  <div class="ticket-footer" [class.h-0]="!isVisible" #footer>
    <div class="footer-left">
      <div
        *ngIf="ticket.columnId == 'backlog'"
        class="ticket-footer-icon"
        (click)="moveToBoard()"
      >
        <img
          class="icon h-0"
          src="assets/img/arrow-up.svg"
          alt="Move ticket to board"
          #icon
        />
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-icon" (click)="editTicket()">
        <img
          class="icon h-0"
          src="assets/img/edit.svg"
          alt="Edit Ticket"
          #icon
        />
      </div>
      <div
        class="footer-icon"
        (click)="toggleMoveTicketMenu($event)"
        id="move-ticket"
      >
        <img
          id="move-ticket-icon"
          class="icon h-0"
          src="assets/img/arrow-right-left.svg"
          alt="Move Ticket"
          #icon
        />
        <div *ngIf="showMoveTicketMenu" class="submenu">
          <div>Move to column...</div>
          <div
            *ngFor="let column of fireService.columns; let i = index"
            (click)="moveToColumn(i)"
            [id]="
              fireService.columns[i].id == ticket.columnId
                ? 'current-column'
                : ''
            "
            [style.color]="
              fireService.columns[i].id == ticket.columnId
                ? 'rgba(var(--letter-color-dark), 0.5)'
                : ''
            "
          >
            <span>{{ i }}</span> - {{ column.title }}
          </div>
        </div>
      </div>
      <div class="footer-icon" (click)="deleteTicket()">
        <img
          class="icon"
          [class.h-0]="!isVisible"
          src="assets/img/delete.svg"
          alt="delete ticket"
          #icon
        />
      </div>
    </div>
  </div>
</div>
