<!-- <div
  #ticket
  class="ticket"
  (click)="showTicket(0)"
> -->
<div
  #ticketElem
  class="ticket"
  (click)="showTicket()" draggable="true" (dragstart)="dragService.dragTicket($event, ticket)"
>
  <div class="ticket-title">
    <p>{{ ticket.title }}</p>
    <!-- <p>{{ ticket.description }}</p> -->
  </div>
  <div class="ticket-description h-0" #descriptionElem>
    <p class="d-none" #descriptionTextElem>{{ ticket.description }}</p>
    <!-- <p class="d-none" #descriptionTextElem>{{ ticket.description }}</p> -->
  </div>
  <div class="ticket-footer h-0" #footer>
    <img
      class="icon h-0"
      src="assets/img/delete_blue.svg"
      alt="delete ticket" #icon (click)="fireService.deleteTicket(ticket.columdId, ticket.id)"
    />
    <img class="icon h-0" src="assets/img/edit.svg" alt="Edit Ticket" #icon (click)="editTicket()">
  </div>
</div>
