<!-- <div
  #ticket
  class="ticket"
  (click)="showTicket(0)"
> -->
<div
  #ticketElem
  class="ticket"
  *ngFor="let ticket of column.tickets | async; let i = index"
  (click)="showTicket(i)" draggable="true" (dragstart)="dragService.dragTicket(ticket, column)"
>
  <div class="ticket-title">
    <p>{{ ticket.title }}</p>
    <!-- <p>{{ ticket.description }}</p> -->
  </div>
  <div class="ticket-description h-0" #descriptionElem>
    <p class="d-none" #descriptionTextElem>{{ ticket.description }}</p>
    <!-- <p class="d-none" #descriptionTextElem>{{ ticket.description }}</p> -->
  </div>
  <div class="ticket-footer h-0" #footer>
    <img
      class="delete-icon h-0"
      src="assets/img/delete_blue.svg"
      alt="delete ticket" #icon (click)="fireService.deleteTicket(column.id, ticket.id.toString())"
    />
  </div>
</div>
