@import "../../vars.scss";

:host {
  width: 100%;
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgba($theme-color-dark, 0.4);
  box-shadow: 1px 1px 3px rgba($letter-color-light, 0.1);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 50ms ease-in-out;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 1px 1px 3px 1px rgba($box-shadow-dark, 0.4);
  }
}

.ticket-title,
.ticket-description,
.ticket-info {
  color: $letter-color-dark;
  background-color: #ffffff;
  border-radius: 3px;
  min-height: 40px;
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
}

.ticket-title,
.ticket-description {
  display: flex;
  align-items: center;
}

.ticket-title {
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.border-r-0{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.priority-border {
  width: 4px;
  height: 40px;
  margin-right: 7px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba($priority-high, 1);
}

.ticket-description {
  @include flex($align: center);
  margin-bottom: 4px;
  min-height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 250ms ease-in-out;
  font-size: 13px;

  p {
    max-height: 300px;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid rgba($theme-color-dark, 0.2);
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.ticket-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2px;
  padding: 10px;
  font-size: 13px;
}

p {
  @include flex($align: center);
  margin: 0;

  span{
    border-radius: 8px;
  }

  &:nth-child(odd){
    width: 55%;
  }
  &:nth-child(even){
    width: 45%;
  }

  img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}

.ticket-footer {
  @include flex(space-between, center);
  width: 100%;
  height: 25px;
  margin-top: 10px;
  transition: all 250ms ease-in-out;
  padding-right: 2px;
}

.footer-right {
  display: flex;
  gap: 5px;
}

.hidden-content {
  transition: all 250ms ease-in-out;
}

.submenu {
  width: 160px;
  div {
    &:first-child{
      border-bottom: 1px solid rgba($letter-color-dark, 0.5);
      font-weight: 500;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}
