<div class="main-background component-container">
 <h1>Kanban Board</h1>
 <div class="modal" #modal>
   <h2>Please register</h2>
   <div content-container>
     <form (ngSubmit)="register()" #form="ngForm">
       <div class="form-input">
         <label for="username">Username</label>
         <input
           type="text"
           class="input"
           name="username"
           placeholder="Please register"
           [(ngModel)]="newUser.username"
           required
           #username="ngModel"
           (click)="alert = false;"
           />
          </div>
          <div class="form-input">
            <label for="password">Password</label>
            <input
            type="text"
            class="input"
            name="password"
            placeholder="Please enter your password"
            [(ngModel)]="newUser.password"
            required
            #password="ngModel"
            (click)="alert = false;"
         />
       </div>
       <div class="alert" *ngIf="this.alert">Username already exists. Please choose another username
      </div>
       <button type="submit" class="btn" [disabled]="!form.valid">
         Register
       </button>
     </form>
     <p>Already registered? Log in <a routerLink="/">here</a></p>
   </div>
   <app-loading-bar [width]="this.width"></app-loading-bar>
 </div>
</div>
