@import "../../vars.scss";

.component-container{
 @include flex($justify: space-evenly);
 flex-direction: column;
 gap: 3vh;
 padding-top: 50px;

 @media (max-width: 400px) {
  padding: 100px 10vw 50px;
}
}