@import "../../vars.scss";

.form-input {
  @include flex($align: flex-end);
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

label {
  width: 120px;
}

input {
  flex: 1;
}

.check {
  align-items: center;
  gap: 10px;

  input {
    width: 15px;
    height: 15px;
    flex: 0;
    width: unset;
    cursor: pointer;
  }
  label {
    width: unset;
  }
}
