.column{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 min-height: calc(100vh - 200px);
 width: 280px;
 padding: 20px;
 background-color: rgba(var(--bg-blue),.2);
 border-radius: 2px;
}