<!-- <div class="column-container"> -->
<!-- [style.transform]="isDragging? 'translateX(-9999px)' : 'translateX(0)'" -->
<div
  class="column-container"
  [class.highlighted]="dragOver"
  [class.highlighted-drag]="dragStart"
  draggable="true"
  (dragstart)="onDragstart($event)"
  (dragover)="onDragover($event)"
  (dragend)="onDragend($event)"
  (dragleave)="onDragleave($event)"
  (drop)="onDrop()"
  #columnElem
>
  <div class="column">
    <div class="title-container">
      <app-title [hostObject]="column" [collection]="'columns'" (addTicket)="addNewTicket()"> </app-title>
    </div>
    <div class="ticket-container">
      <div class="column-tickets" *ngIf="tickets">
        <app-ticket
          [column]="column"
          [ticket]="ticket"
          *ngFor="let ticket of tickets | async"
        ></app-ticket>
      </div>
    </div>
<!--     <div class="add-icon-container" (click)="addticket.addTicket(column.id)">
      <div class="add-icon" (mouseenter)="toggleTooltip()" (mouseleave)="toggleTooltip()">
        <app-tooltip [text]="'Add ticket'" [left]="true" *ngIf="showTooltip"></app-tooltip>
        <img src="assets/img/add_blue.svg" alt="add a new ticket" />
      </div>
    </div> -->
  </div>
</div>
<!-- </div> -->
