.column{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
height: calc(100vh - 210px);
 width: 280px;
 padding: 20px;
 background-color: rgba(var(--bg-blue),.2);
 border-radius: 2px;
 overflow-y: auto;
 position: relative;
}

.add-card{
 position: absolute;
 bottom: 15px;
 right: 20px;
 width: 30px;
 height: 30px;
 border-radius: 100%;
 background-color: rgba(var(--bg-blue),.3);
 cursor: pointer;

 &:hover{
  background-color: rgba(var(--bg-blue),.5);
 }

   
 &:hover img{
  filter: invert(93%);
 }

 img{
  filter: invert(100%);
  width: 100%;
  height: auto;
 }
}