.column{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
height: calc(100vh - 210px);
 width: 280px;
 padding: 20px;
 background-color: rgba(var(--bg-blue),.2);
 border-radius: 2px;
 overflow-y: auto;
}