<!-- <div class="column-container"> -->
  <div
    class="column"
    [class.highlighted]="dragOver"
    >
  <app-column-title [column]="column"> </app-column-title>
    <div class="column-tickets" (drop)="dragService.dropTicket(column); dragOver = false;" (dragover)="dragService.allowDrop($event); highlightColumn(true)" (dragleave)="highlightColumn(false)">
      <app-ticket [column]="column" *ngIf="column.tickets"></app-ticket>
    </div>
    <div class="add-icon-container" (click)="addticket.addTicket(column.id)">
      <div class="add-icon">
        <img src="assets/img/add.svg" alt="add a new ticket" />
      </div>
    </div>
  </div>
<!-- </div> -->
