<div class="column-container">
  <div
    class="column"
    *ngFor="let column of fireService.columns_data | async; let i = index"
  >
    <div class="column-title">
      <h3>{{ column.title }}</h3>
    </div>
    <div class="column-tickets">
      <app-ticket [column]="column" *ngIf="column.tickets"></app-ticket>
    </div>
    <div class="add-icon-container" (click)="addticket.addTicket(column.id)">
      <div class="add-icon">
        <img src="assets/img/add.svg" alt="add a new ticket" />
      </div>
    </div>
  </div>
</div>
